---
applications:
- name: corelogic-whiteboard
  command: bundle exec rake db:migrate && bundle exec unicorn -p $PORT -c ./config/unicorn.rb
  path: ../
  services:
  - mysql-corelogic-whiteboard
  - sendgrid
  env:
    IP_WHITELIST: 198.178.56.26,198.178.56.27,69.87.112.1,69.87.100.1,204.93.49.98
